<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товар 1</title>
    <link rel="stylesheet" href="../../css/styles/tovar.css"/>
  </head>
  <body>
    <header>
      <!-- Нвигация -->
      <nav class="navigation">
        <a href="/src/index.html">Главная</a>
        <a href="/src/index.html#product_main">Каталог</a>
        <a href="/src/index.html#stock_main">Акции</a>
        <a href="/src/index.html#reviews_main">Отзывы</a>
        <a href="../profile/profile.html">Профиль</a>
      </nav>
      <section class="heading">
        <h1>Приветствуем вас в нашем интернет-магазине!</h1>
        <p>Здесь вы найдете лучшие товары по выгодным ценам</p>
        <button>Начать покупки</button>
      </section>
    </header>
    <main>
      <div class="info_tovar">
        <section>
          <img src="/assets/img/Cake.webp" alt="товар1" />
        </section>
        <section class="description">
          <h2>Товар1</h2>
          <p>
            Lorem ipsum kjfh gfgh dolor sit amet, consectetur adipisicing elit.
            Laborum? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolores, nesciunt.
          </p>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </section>
        <section class="info_tovar_cent">
          <div>
            <p class="pre_cent">
              $230
            </p>
            <p class="cent">
              <strong>Цена: $100</strong>
            </p>
          </div>
          <div class="cent_button">
            <button>Купить сейчас</button>
            <button>Добавить в корзину</button>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="information">
        <article>
          <h3>О нас</h3>
          <p>Мы — современный интернет-магазин с лучшими товарами.</p>
        </article>
        <nav>
          <h3>Ссылки</h3>
          <a href="/src/index.html">Главная</a>
          <a href="/src/index.html#product_main">Каталог</a>
          <a href="/src/index.html#stock_main">Акции</a>
          <a href="/src/index.html#information_main">Контакты</a>
        </nav>
        <address>
          <h3>Контакты</h3>
          <p>Email: info@example.com</p>
          <p>Телефон: +7 (123) 456-78-90</p>
        </address>
      </div>
      <p>© 2025 Интернет-магазин. Все права защищены.</p>
    </footer>
  </body>
</html>
